In [ ]:
#Question 1
ip=input()
x=ip.index("@")
print(ip[x+1:len(ip)-4],end='')

username@companyname.com
companyname

In [ ]:
#Question 2
l=input("Enter comma seperated sequences of words ")
l=l.split(",")
l=sorted(l)
print(",".join(l))

Enter comma seperated sequences of words bad,fan,dog
bad,dog,fan

In [ ]:
 #Question 3
 #  Set : A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.
 s = {"apple", "banana", "cherry"}
print(s)

{'cherry', 'banana', 'apple'}

In [ ]:
s = {"apple", "banana", "cherry"}
print("banana" in s)
s.add("Papaya")
print(s)
s.update(["Pineapple","orange","Kiwi"])
print(s)
print(len(s))
s.remove("Pineapple")
print(s)
s.pop()
print(s)
s.clear()
print(s)

True
{'cherry', 'banana', 'Papaya', 'apple'}
{'banana', 'Papaya', 'cherry', 'Pineapple', 'apple', 'Kiwi', 'orange'}
7
{'banana', 'Papaya', 'cherry', 'apple', 'Kiwi', 'orange'}
{'Papaya', 'cherry', 'apple', 'Kiwi', 'orange'}
set()

In [ ]:
s1={1,3,5,7,9}
s2={2,4,6,8,10}
s3=s2.union(s1)
print(s3)
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
s1={1,2,3,4,5,6,7,8,9,10}
s2={2,4,6,8,10}
s4=s2.intersection(s1)
print(s4)
s2.issubset(s1)

{2, 4, 6, 8, 10}

True

In [ ]:
#Question 4
def getmissingno(a): 
    n = len(a) 
    total = (n + 1)*(n + 2)//2
    s = sum(a)
    return total - s 
a=list(map(int,input().split()))
m = getmissingno(a)
print(m)

1 2 4 6 3 7 8
5

In [ ]:
#Question 5
fl = []
dup = list(map(int,input().split()))
for n in dup: 
    if n not in fl: 
        fl.append(n) 
print(fl)

12 24 35 24 88 120 155 88 120 155
[12, 24, 35, 88, 120, 155]