In [ ]:
#Question 1
a=complex(input("Enter the first number: "))
b=complex(input("Enter the second number: "))
add=a+b
sub=a-b
multiply=a*b
divide=a/b
print("Addition = ",add)
print("Substraction = ",sub)
print("Division = ",divide)
print("Multiplication = ",multiply)

Enter the first number: 2
Enter the second number: 6
Addition =  (8+0j)
Substraction =  (-4+0j)
Division =  (0.3333333333333333+0j)
Multiplication =  (12+0j)

In [ ]:
#Question 2

# Function **range()** is used to generate numbers from given starting integer to end integer. It is used in for loop.

# Its parameters are start, stop and step.

# Start is the lower limit, Stop is the upperlimit and it displays till the range less then the given integer and step is the differnce between the given integer.

# **start**	is an Optional. An integer number specifying at which position to start. Default is 0
# **stop**	is Required. An integer number specifying at which position to stop (not included).
# step	is also an Optional. An integer number specifying the incrementation. Default is 1

In [ ]:
for i in range(4):
    print(i,end=',')

0,1,2,3,

In [ ]:
for j in range(4,8):
    print(j,end=',')

4,5,6,7,

In [ ]:
for k in range(0,10,2):
    print(k,end=',')

0,2,4,6,8,

In [ ]:
#Question 3
a=int(input("Enter the first number "))
b=int(input("Enter the second number "))
sub=a-b
if (sub>25):
    print("Multiplication=",(a*b))
else:
    print("Division= ",(a//b))

Enter the first number 10
Enter the second number 5
Division=  2

In [ ]:
#Question 4
for i in range(14,24):
    if(i%2==0):
        print("Square of the number ",(i**2),"minus 2 is ",(i**2-(2)))

Square of the number  196 minus 2 is  194
Square of the number  256 minus 2 is  254
Square of the number  324 minus 2 is  322
Square of the number  400 minus 2 is  398
Square of the number  484 minus 2 is  482

In [ ]:
#Question 5
for i in range(1,10):
    if(i%2==0 and i>7):
        print(i)

8