In [ ]:
#Question 1: Python program to find first 20 non-even prime natural numbers

for i in range(l,20): 
    print(i, end=' ') if i%2 else print (end=' ')

1  3  5  7  9  11  13  15  17  19

In [ ]:
#Question 2:

#Default functions of String

In [ ]:
stringVariable = "This is a string variable"
print('stringVariable is : ',stringVariable)
print('First character in stringVariable is : ',stringVariable[0])

stringVariable is :  This is a string variable
First character in stringVariable is :  T

In [ ]:
# Capitalized String

stringVariable2 = "python is AWesome."

capitalized_string = stringVariable2.capitalize()

print('Old String: ', stringVariable2)
print('Capitalized String:', capitalized_string)

Old String:  python is AWesome.
Capitalized String: Python is awesome.

In [ ]:
# Center String

stringVariable3 = "Python is awesome"

new_string = stringVariable3.center(54)

print("Centered String: ", new_string)

Centered String:                    Python is awesome

In [ ]:
# Endswith String

stringVariable4 = "Python is easy to learn."

result = stringVariable4.endswith('java')
# returns False
print(result)

result = stringVariable4.endswith('to learn.')
# returns True
print(result)

False
True

In [ ]:
# isspace String

s = '   \t'
print(s.isspace())

s = ''
print(s.isspace())

True
False

In [ ]:
# issdecimal String

s = "2825"
print(s.isdecimal())

# contains alphabets
s = "32ladk3"
print(s.isdecimal())

True
False

In [ ]:
# issdigit String
s = "28212"
print(s.isdigit())

# contains alphabets and spaces
s = "Mo3 nicaG el l22er"
print(s.isdigit())

True
False

In [ ]:
# isidentifier String

str = 'Python'
print(str.isidentifier())

str = 'Py thon'
print(str.isidentifier())

str = '22Python'
print(str.isidentifier())

True
False
False

In [ ]:
# isnumeric String

s = '1242323'
print(s.isnumeric())

s = '1242323'
s='python12'
print(s.isnumeric())

True
False

In [ ]:
# swapcase string
string = "THIS SHOULD ALL BE LOWERCASE."
print(string.swapcase())

string = "this should all be uppercase."
print(string.swapcase())

string = "ThIs ShOuLd Be MiXeD cAsEd."
print(string.swapcase())

this should all be lowercase.
THIS SHOULD ALL BE UPPERCASE.
tHiS sHoUlD bE mIxEd CaSeD.

In [ ]:
# replace String

song = 'cold, cold heart'

# replacing 'cold' with 'hurt'
print(song.replace('cold', 'hurt'))

hurt, hurt heart

In [ ]:
# find() String
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [ ]:
# istitle() String
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [ ]:
# split() String
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [ ]:
# join() String
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [ ]:
# format() String
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

#Question 3:

In [ ]:
# function which return reverse of a string 
  
def isPalindrome(s): 
    return s == s[::-1] 
  
  
# Driver code 
s = "malayalam"
ans = isPalindrome(s) 
  
if ans: 
    print("Yes") 
else: 
    print("No")

Yes

In [ ]:
# Python program to check whether two strings are  
# anagrams of each other  
  
# function to check whether two strings are anagram  
# of each other  
def areAnagram(str1, str2):  
    # Get lengths of both strings  
    n1 = len(str1)  
    n2 = len(str2)  
  
    # If lenght of both strings is not same, then  
    # they cannot be anagram  
    if n1 != n2:  
        return 0
  
    # Sort both strings  
    str1 = sorted(str1) 
    str2 = sorted(str2) 
  
    # Compare sorted strings  
    for i in range(0, n1):  
        if str1[i] != str2[i]:  
            return 0
  
    return 1
  
  
# Driver program to test the above function  
str1 = "test"
str2 = "ttew"
if areAnagram(str1, str2):  
    print ("The two strings are anagram of each other") 
else:  
    print ("The two strings are not anagram of each other")

The two strings are not anagram of each other

#Another way

In [ ]:
st = input("Enter the first string: ")
st1 = input("Enter the second string: ")

if st == st1[::-1]:
    print(f"{st} and {st1} are palindrome")

elif sorted(st) == sorted(st1):
    print(f"{st} and {st1} are Anagram")
    
else:
    print(f"{st} and {st1} are neither palindrome nor anagram")

Enter the first string: Tar
Enter the second string: Tar
Tar and Tar are Anagram

#Question 4:

In [ ]:
def string_convert(st):
    for i in st:
        if not(ord(i)>=65 and ord(i)<=90 or ord(i)>=97 and ord(i)<=122 or ord(i)==64):
            st = st.replace(i,"")
        elif ord(i) == 64:
            st = st.replace(i," ")
    return st.lower()

st = input("Enter the string: ")
print(string_convert(st))

Enter the string: Dr. Darshan Ingle @AI-ML Trainer
drdarshaningleaimltrainer