In [ ]:
import pandas as pd
from scipy.stats import pearsonr, chi2_contingency, wilcoxon, friedmanchisquare, mannwhitneyu
from scipy.stats import kruskal, ttest_1samp, ttest_rel, ttest_ind

In [ ]:
df = pd.read_csv('general_data.csv')

In [ ]:
df = df.dropna(axis=0)

In [ ]:
df.Attrition = df.Attrition.replace(['Yes','No'],[0,1])

In [ ]:
df1 = df[['Attrition','Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [ ]:
df2 = df1[['Age','DistanceFromHome','Education','JobLevel','MonthlyIncome','PercentSalaryHike','StandardHours','StockOptionLevel','TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [ ]:
display(df1.info())
display(df2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Attrition                4382 non-null   int64
 1   Age                      4382 non-null   int64
 2   DistanceFromHome         4382 non-null   int64
 3   Education                4382 non-null   int64
 4   JobLevel                 4382 non-null   int64
 5   MonthlyIncome            4382 non-null   int64
 6   PercentSalaryHike        4382 non-null   int64
 7   StandardHours            4382 non-null   int64
 8   StockOptionLevel         4382 non-null   int64
 9   TrainingTimesLastYear    4382 non-null   int64
 10  YearsAtCompany           4382 non-null   int64
 11  YearsSinceLastPromotion  4382 non-null   int64
 12  YearsWithCurrManager     4382 non-null   int64
dtypes: int64(13)
memory usage: 479.3 KB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   DistanceFromHome         4382 non-null   int64
 2   Education                4382 non-null   int64
 3   JobLevel                 4382 non-null   int64
 4   MonthlyIncome            4382 non-null   int64
 5   PercentSalaryHike        4382 non-null   int64
 6   StandardHours            4382 non-null   int64
 7   StockOptionLevel         4382 non-null   int64
 8   TrainingTimesLastYear    4382 non-null   int64
 9   YearsAtCompany           4382 non-null   int64
 10  YearsSinceLastPromotion  4382 non-null   int64
 11  YearsWithCurrManager     4382 non-null   int64
dtypes: int64(12)
memory usage: 445.0 KB

None

In [ ]:
mean = df2.mean()
mean

Age                           36.933364
DistanceFromHome               9.198996
Education                      2.912369
JobLevel                       2.063898
MonthlyIncome              65061.702419
PercentSalaryHike             15.210634
StandardHours                  8.000000
StockOptionLevel               0.794614
TrainingTimesLastYear          2.798266
YearsAtCompany                 7.010497
YearsSinceLastPromotion        2.191693
YearsWithCurrManager           4.126198
dtype: float64

In [ ]:
median = df2.median()
median

Age                           36.0
DistanceFromHome               7.0
Education                      3.0
JobLevel                       2.0
MonthlyIncome              49190.0
PercentSalaryHike             14.0
StandardHours                  8.0
StockOptionLevel               1.0
TrainingTimesLastYear          3.0
YearsAtCompany                 5.0
YearsSinceLastPromotion        1.0
YearsWithCurrManager           3.0
dtype: float64

In [ ]:
mode = df2.mode()
mode

   Age  DistanceFromHome  ...  YearsSinceLastPromotion  YearsWithCurrManager
0   35                 2  ...                        0                     2

[1 rows x 12 columns]

In [ ]:
skew = df2.skew()
skew

Age                        0.413048
DistanceFromHome           0.955517
Education                 -0.288977
JobLevel                   1.021797
MonthlyIncome              1.367457
PercentSalaryHike          0.819510
StandardHours              0.000000
StockOptionLevel           0.967263
TrainingTimesLastYear      0.551818
YearsAtCompany             1.764619
YearsSinceLastPromotion    1.980992
YearsWithCurrManager       0.834277
dtype: float64

In [ ]:
kurtosis = df2.kurtosis()
kurtosis

Age                       -0.409517
DistanceFromHome          -0.230691
Education                 -0.565008
JobLevel                   0.388189
MonthlyIncome              0.990836
PercentSalaryHike         -0.306951
StandardHours              0.000000
StockOptionLevel           0.356755
TrainingTimesLastYear      0.494215
YearsAtCompany             3.930726
YearsSinceLastPromotion    3.592162
YearsWithCurrManager       0.170703
dtype: float64

In [ ]:
correlation = df.corr()
correlation

                              Age  ...  YearsWithCurrManager
Age                      1.000000  ...              0.201580
Attrition                0.158399  ...              0.154692
DistanceFromHome         0.007376  ...              0.021773
Education               -0.033900  ...              0.005645
EmployeeCount                 NaN  ...                   NaN
EmployeeID               0.008105  ...              0.009079
JobLevel                -0.001137  ...             -0.053898
MonthlyIncome           -0.045163  ...              0.023095
NumCompaniesWorked       0.299527  ...             -0.109372
PercentSalaryHike       -0.032561  ...             -0.039687
StandardHours                 NaN  ...                   NaN
StockOptionLevel        -0.031504  ...              0.019398
TotalWorkingYears        0.680037  ...              0.458640
TrainingTimesLastYear   -0.028962  ...             -0.015792
YearsAtCompany           0.311281  ...              0.769161
YearsSinceLastPromotion  0.215650  ...              0.510341
YearsWithCurrManager     0.201580  ...              1.000000

[17 rows x 17 columns]

In [ ]:
stats, p = wilcoxon(df1.Attrition, df1.Age)
print(f'The Value of p in wilcoxon test is: {p}')
if p < 0.05:
    print('There is significant impact of Age on Attrition')
else:
    print('There is no significant impact of Age on Attrition')

The Value of p in wilcoxon test is: 0.0
There is significant impact of Age on Attrition

In [ ]:
stats, p = friedmanchisquare(df1.Attrition, df1.Age, df1.DistanceFromHome, df1.MonthlyIncome)
print(f'The Value of p in friedmanchisquare test is: {p}')
if p < 0.05:
    print('There is significant impact of Age, Distance from Home, Monthly Income on Attrition')
else:
    print('There is no significant impact of Age, Distance from Home, Monthly Income on Attrition')

The Value of p in friedmanchisquare test is: 0.0
There is significant impact of Age, Distance from Home, Monthly Income on Attrition

In [ ]:
stats, p = mannwhitneyu(df1.Attrition, df1.Education)
print(f'The Value of p in mannwhitneyu test is: {p}')
if p < 0.05:
    print('There is significant impact of Education on Attrition')
else:
    print('There is no significant impact of Education on Attrition')

The Value of p in mannwhitneyu test is: 0.0
There is significant impact of Education on Attrition

In [ ]:
stats, p = kruskal(df1.Attrition, df1.Education,df1.JobLevel)
print(f'The Value of p in kruskal test is: {p}')
if p < 0.05:
    print('There is significant impact of Education, JobLevel on Attrition')
else:
    print('There is no significant impact of Education, JobLevel on Attrition')

The Value of p in kruskal test is: 0.0
There is significant impact of Education, JobLevel on Attrition

In [ ]:
crosstable = pd.crosstab(df.Attrition,df.Department)
crosstable

Department  Human Resources  Research & Development  Sales
Attrition
0                        55                     449    201
1                       132                    2416   1129

In [ ]:
stats, p, dof, expected = chi2_contingency(crosstable)
print(f'The Value of p in chi2_contingency test is: {p}')
if p < 0.05:
    print('The variables are dependent')
else:
    print('The variables are not dependent')

The Value of p in chi2_contingency test is: 2.3829705707693105e-06
The variables are dependent